/* fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Sulphur+Point:wght@300;400;700&display=swap");
/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}
:root {
  --bg-color: #ffcc0a;
  --second-bg-color: #19387b;
  --text-color: #ededed;
  --main-color: #ffcc0a;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.title {
  font-family: "Shrikhand";
}
/* btnzap */
.btn-zap {
  display: block;
  z-index: 1000;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
}
.btn-zap i {
  font-size: 48px;
  padding: 1rem;
  background-color: green;
  border-radius: 50%;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}
.header.sticky {
  background-color: var(--second-bg-color);
}
.logo {
  position: relative;
  font-size: 2.7rem;
  color: var(--text-color);
  font-weight: 600;
  font-family: "Shrikhand";
}
.navbar {
  position: relative;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 1rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
/* section */
#inicio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 5rem;
  /* background-image: url("./Story_instagram_Pedido_de_lanche_hamburguer_ousado_escuro_1.gif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; */
}
.inicioImg {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
.inicio-texto {
  display: grid;
  align-self: center;
  justify-self: center;
}
.inicio-texto h1 {
  font-size: 6.4rem;
  line-height: 1.1;
  color: #a6352f;
  font-family: "Shrikhand";
}
.inicio-texto p {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
}
.inicio-texto a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
  background-color: #a6352f;
  padding: 1rem;
  border-radius: 10rem;
  transition: 0.3s;
}
.inicio-texto a:hover {
  background-color: #081c48;
  transform: scale(105%);
}
/*Quem somos*/
#quemsomos {
  background-image: url("./img/bgQuemSomos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quemsomos-texto {
  margin-top: 60px;
}
.quemsomos-texto h1 {
  font-size: 6rem;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  margin-bottom: 3.5rem;
  font-family: "Shrikhand";
}
.quemsomos-texto p {
  font-size: 2.4rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}
/*Serviços*/
#servicos {
  background-color: #ededed;
  display: grid;
  justify-content: center;
  align-items: center;
}
#servicos h1 {
  font-family: "Shrikhand";
  font-size: 4.8rem;
  color: #081c48;
  text-align: center;
  margin-bottom: 60px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 5rem;
}
.card a {
  display: contents;
}
#servicos .card-item {
  flex: 1 1 300px;
  height: 500px;
  border: 2px solid #031c53;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
}
#servicos .card-item:hover {
  transform: scale(105%);
}
#servicos .card-item img {
  margin: 0 auto;
  transition: 0.3s;
}
#servicos .card-item img:hover {
  transform: scale(105%);
}
#servicos .card-item h2 {
  text-align: center;
  font-family: "Shrikhand";
  font-size: 3.4rem;
  color: #031c53;
  margin-bottom: 10px;
  margin-top: 30px;
}
#servicos .card-item p {
  font-size: 2rem;
  color: #081c48;
}
.btn-cardapio {
  display: block;
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  background-color: #a6352f;
  padding: 1rem 5rem;
  border-radius: 10rem;
  transition: 0.3s;
}
.btn-cardapio:hover {
  background-color: #081c48;
  transform: scale(105%);
}
/* cardapio */
#cardapio {
  color: #000;
}
#cardapio h1 {
  font-size: 4.8rem;
  text-align: center;
  font-family: "Shrikhand";
}
/* swiper */
#cardapio .swiper {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#cardapio .swiper-wrapper {
  width: 300vw;
  height: 100%;
}
#cardapio .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100vw;
  height: 700px;
}
#cardapio .swiper-slide {
  overflow-y: auto;
}
/* #cardapio .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
#cardapio .swiper-slide h2 {
  font-family: "Shrikhand";
  background-color: #a6352f;
  color: #ffcc0a;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 40px;
  margin-top: 40px;
  align-self: center;
}
#cardapio .swiper-slide ul {
  width: 100%;
  padding: 1rem;
}
#cardapio .swiper-slide ul li h3 {
  font-size: 2.4rem;
  font-family: "Shrikhand";
  color: #a6352f;
  text-align: start;
}
#cardapio .swiper-slide ul li p {
  font-size: 2rem;
  font-weight: regular;
  color: #a6352f;
  text-align: start;
}
#cardapio .bebidas {
  width: 100%;
}
#cardapio .bebidas p {
  color: #8e2a25;
  font-size: 2.5rem;
  text-align: center;
}
#cardapio .swiper-slide h2 {
  width: 100%;
}

/* depoimento */
#depoimento {
  display: grid;
  place-content: strech;
  background-color: #fff;
  color: #111;
}
#depoimento h1 {
  font-size: 4.8rem;
  text-align: center;
  color: #a6352f;
}
#depoimento .swiper {
  width: 100%;
  height: 100%;
}

#depoimento .card {
  display: flex;
  background-color: #3e0705;
  gap: 30px;
  color: #031c53;
}
#depoimento .card-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  height: auto;
}
#depoimento .card-item img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  border: 2px solid #ffcc0a;
  border-radius: 100%;
  object-fit: cover;
}
#depoimento .card-item h2 {
  color: #fff;
}
#depoimento .card-item p {
  color: #fff;
}
#depoimento .btn-depoimento {
  display: block;
  justify-self: center;
  align-self: center;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #a6352f;
  padding: 1rem 5rem;
  border-radius: 10rem;
  transition: 0.3s all ease;
  margin-top: 40px;
  margin-bottom: 10px;
}
#depoimento .btn-depoimento:hover {
  background-color: #081c48;
  transform: scale(105%);
}
#depoimento .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #a6352f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

#depoimento .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nosso contato */
#contato {
  background-color: #19387b;
}
.contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contato-texto {
  display: flex;
  flex-direction: column;
}
#contato div {
  margin-bottom: 20px;
}
#contato h1 {
  font-size: 4.8rem;
  grid-column: 1/3;
}
#contato h2 {
  font-size: 3.2rem;
}
#contato p,
li {
  font-size: 2rem;
}

.endereço h2 {
  margin-left: 30px;
}
.endereço li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fucionamento h2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.fucionamento h2::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("./icon/clock.svg");
}
.fucionamento ul {
  margin-left: 30px;
}
.especiais h2 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.especiais h2::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("./icon/star.svg");
}
.especiais ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.especiais ul li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("./icon/check.svg");
}
#contato .final {
  grid-column: -1/1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 20px;
}
#contato .final .logo {
  align-self: center;
  justify-self: center;
}
#contato .final .redes-sociais {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 40px;
  background-color: #031c53;
  border-radius: 40px;
  padding: 1rem;
}
footer {
  background-color: #092562;
  padding: 40px;
  font-size: 2rem;
  text-align: center;
}
footer p a {
  color: #ffcc0a;
}
/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .inicio-texto h1 {
    font-size: 5.5rem;
    line-height: 1.1;
    color: #a6352f;
  }
}
@media (max-width: 991px) {
  .inicio-texto h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    color: #a6352f;
  }
  .header {
    padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .header {
    background-color: var(--second-bg-color);
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: var(--main-color);
    transition: 0.25s ease;
    transition-delay: 0.25s;
    z-index: 1;
  }
  .navbar.active {
    transition-delay: 0s;
    left: 0;
  }

  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active .active-nav {
    transition-delay: 0.25s;
    left: 0;
    transition-delay: 0.25s;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.5s ease;
    transition-delay: 0s;
  }
  .navbar.active a {
    transform: translateX(0rem);
    transition-delay: 0.25s;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 50%;
  }

  section {
    padding: 4rem 4% 2rem;
  }
  #inicio {
    min-height: calc(100vh - 200px);
    padding: 10rem 4% 2rem;
    justify-content: center;
    align-content: start;
    gap: 5rem;
  }
  #inicio .inicio-texto {
    padding: 0 1rem;
  }
  #inicio .inicioImg {
    height: 320px;
    width: 320px;
    padding: 1rem;
  }
  .quemsomos-texto {
    margin-top: 0;
  }
  .quemsomos-texto p {
    text-align: center;
  }
  .inicio-texto h1 {
    font-size: 4.5rem;
  }
  .inicio-texto p {
    font-size: 1.7rem;
    line-height: 1.3;
    font-weight: bold;
    color: black;
    margin-bottom: 1.5rem;
  }
  .inicio-texto a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    background-color: #a6352f;
    padding: 1rem;
    border-radius: 10rem;
    transition: 0.3s;
  }
  .inicio-texto a:hover {
    background-color: #081c48;
    transform: scale(105%);
  }
}
@media (max-width: 462px) {
  .inicio-texto h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 400px) {
  .inicio-texto h1 {
    font-size: 4rem;
  }
}

/* KEYFRAMES ANIMATION */
